extends layout

block content
  img(src='http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&markers=41.878114%2C-87.629798&markers=45.523452%2C-122.676207&markers=size:mid%7Ccolor:blue%7C' + coords.lat + '%2C' + coords.lon)
